body{
    max-width: 1140px;
    margin: 0 auto;
    font-family: sans-serif;
    /* border: 1px solid red; */
}

h1{
    font-size: 4rem;
    font-weight: 800;
    margin: 1rem 0;
}
h2{
    font-size: 3.3rem;
    font-weight: 800;
    margin: 0;
}
h3{
    font-size: 2.5rem;
    font-weight: 700;
    margin: 0;
}
h4{
    font-size: 2rem;
    font-weight: 700;
    margin: 0;
}
p{
    font-size: 1.5rem;
    line-height: 2rem;
    opacity: .8;
    margin: 1rem 0;
}

.header{
    background-image: url("../images/developer.png"), 
                      url("../images/header_bg.png");
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    height: 49rem;
}

.navBar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    height: 5rem;
    margin: 0 auto;
    /* background-color: lightcoral; */
    /* border: 1px solid green; */
}

.navBar h3{
    font-weight: 800;
    /* border: 1px solid; */
}

.navBar > h3 span{
    color: #FD6E0A;
}
.navBar div{
    display: flex;
    width: 40%;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    /* border: 1px solid black; */
}

.navBar > div a{
    text-decoration: none;
    color: #000;
    font-size: 1.3rem;
    font-weight: 500;
}

.btn{
    background-color: #FD6E0A;
    color: #fff;
    border: none;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    font-size: 1.3rem;
    font-weight: 500;
    cursor: pointer;
}

.btn:hover{
    box-shadow: 3px 3px 0 0 #5724008c;
}

.btn:active{
    box-shadow: none;
}

.banner-container{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    height: 89.5%;
    /* border: 1px solid; */
}

.banner-element{
    margin-left: 8rem;
    width: 40%;
    margin-top: auto;
    margin-bottom: auto;
    /* border: 1px solid; */
}

.banner-container img{
    width: 50%;
    /* border: 1px solid; */
}

/* Responsive Media query */
@media screen and (max-width:575px) {
    .header{
        height: 225vh;
    }
    .navBar{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        height: 37vh;
    }
    .navBar div{
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: flex-end;
    }
    .banner-container{
        flex-direction: column-reverse;
        justify-content: flex-end;
    }
    .banner-element{
        width: 100%;
        
    }
    .banner-container img{
        width: 100%;
    }
    
}